/* Global Styles */
body {
    font-family: 'Lexend', Arial, sans-serif; /* Apply Lexend font */
    color: #333;
    line-height: 1.6;
}


header h1{
    font-size:larger;
}

/* Featured Articles Section */
.featured-articles {
    padding: 60px 0;
    text-align: center;
    background-color: #f9f9f9; /* Light background for the section */
}

.featured-articles h1 {
    font-size: 30px;
}

.featured-articles h2 {
/* Adjust font size */
    margin-bottom: 10px; /* Spacing under the heading */
    font-weight: 700; /* Bold heading */
}

.featured-articles .article-list {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between articles */
    flex-wrap: wrap; /* Ensure articles wrap on smaller screens */
}

.featured-articles article {
    display: flex; /* Use flexbox for layout */
    width: 400px; /* Fixed width for each article */
    border: 1px solid #ddd; /* Border for each article */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensure content stays within the border radius */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    background: #fff; /* White background for each article */
}

.featured-articles article img {
    width: 50%; /* Adjust width for the image */
    height: auto;
    border-right: 1px solid #ddd; /* Separation line to the right of the image */
}

.featured-articles article .content {
    padding: 15px;
    width: 50%; /* Adjust width for the content */
    display: flex;
    flex-direction: column; /* Align content from top to bottom */
    justify-content: flex-start; /* Align items to the start of the column */
    text-align: left; /* Align text to the left */
}

.featured-articles article h3 {
    font-size: 17px; /* Font size for the article title */
    margin: 0 0 10px 0; /* Spacing around the title */
    font-weight: 600; /* Bold title */
}

.featured-articles article p {
    font-size: 14px; /* Font size for the article text */
    margin: 0 0 10px 0; /* Spacing around the text */
    color: #666; /* Grey text color */
}

.featured-articles article time {
    font-size: 14px; /* Font size for the publication date */
    color: #999; /* Light grey text color */
}

/*Text box*/
/* Textbox 2 */
.textbox {
    position: relative; 
    opacity: 1; 
  }
  .textbox input {
    width: 268px; 
    height: 36px; 
    padding-left: 34px; 
    padding-right: 12px; 
    font-family: Manrope; 
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    background: #EAECF0FF; /* neutral-250 */
    border-radius: 4px 0px 0px 4px; /* border-tl-m border-bl-m */
    border-width: 0px; 
    outline: none; 
  }
  .textbox svg {
    position: relative; 
    right: 12px; 
    width: 16px; 
    height: 16px; 
    fill: #171A1FFF; /* neutral-900 */
  }
  .textbox svg.left {
    left: 12px; 
  }
  /* hover */
  .textbox input:hover {
    color: #BDC1CAFF; /* neutral-400 */
    background: #EAECF0FF; /* neutral-250 */
  }
  /* focused */
  .textbox input:focused {
    color: #BDC1CAFF; /* neutral-400 */
    background: #FFFFFFFF; /* white */
  }
  /* disabled */
  .textbox input:disabled {
    color: #BDC1CAFF; /* neutral-400 */
    background: #EAECF0FF; /* neutral-250 */
  }
  .textbox :disabled + .icon, .textbox :disabled + .icon + .icon {
    fill: #171A1FFF; /* neutral-900 */
  }
header {
    background-color: #f8f8f8;
    padding: 10px 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333333a7;
    font-weight: 300;
    padding-bottom: 5px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #6200ea;
    border-bottom: 2px solid #6200ea;
}

/* Button */
button {
    position: relative; 
    width: 160px; 
    height: 36px; 
    padding: 0 12px; 
    align-items: center; 
    justify-content: center; 
    font-family: 'Lexend', Arial, sans-serif; 
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #FFFFFFFF; /* white */
    background: #6D31EDFF; /* primary-500 */
    opacity: 1; 
    border: none; 
    border-radius: 6px; /* border-l */
  }
  /* Hover */
  button:hover {
    color: #FFFFFFFF; /* white */
    background: #5113D7FF; /* primary-600 */
  }
  /* Pressed */
  button:hover:active {
    color: #FFFFFFFF; /* white */
    background: #3F0EA6FF; /* primary-700 */
  }
  /* Disabled */
  button:disabled {
    opacity: 0.4; 
  }

/* Ensures the button is in line with the menu */
.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Hero Section */
.hero {
    background-image: url('Irrigation.jpg');
    background-size: cover; /* Adjusted from 100% to cover */
    background-position: center;
    color: #fff;
    text-align: center; /* Changed from left to center */
    padding: 100px 50px;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    height: 500px; /* Adjust height as needed */
}

.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.hero-content {
    position: relative;
    z-index: 2;
    padding: 10px 10px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Articles Sections */
.articles, .recent-articles, .subscription {
    padding: 50px 0;
    text-align: center;
}

.articles h3, .recent-articles h3, .subscription h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

.articles-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article {
    width: 30%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

article img {
    width: 100%;
    height: auto;
    display: block;
}

article h4 {
    font-size: 24px;
    margin: 10px 0;
    padding: 0 15px;
}

article p {
    padding: 0 15px;
    margin-bottom: 10px;
    color: #555;
}

article small {
    display: block;
    padding: 0 15px 15px;
    color: #999;
}

/* Subscription Section */
.subscription {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.subscription h3 {
    color: #6200ea;
}

.subscription p {
    font-size: 20px;
    margin-bottom: 20px;
}


/* Footer */
footer {
    background-color: #f8f8f8;
    padding: 40px 0;
    text-align: center;
}

footer h2{
    color: #6200ea;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.footer-column {
    width: 200px;
    margin-bottom: 20px;
}

.footer-column h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.footer-bottom p {
    margin: 0;
}

.language-select {
    margin: 10px 0;
}